body {
	font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size:1.2rem;
	font-weight:normal:
}  

h1, h2, h3, h4, h5, h6  .subheading{
	text-transform: none;
}
h1, .h1{
	font-size: 5rem;
}
p.lead{
	font_size:1.2;
}

.bg-primary{
	background-color:#1a0052!important;
	background-image:url(../assets/img/IMG_6345.JPG);
}

.text-primary{
	color:#00bcc2!important;
}

a {
	color:#00bcc2;
}
