body {
	font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size:1.2rem;
	font-weight:normal:
}  

h1, h2, h3, h4, h5, h6  .subheading{
	text-transform: none;
}
h1, .h1{
	font-size: 5rem;
}
p.lead{
	font_size:1.2;
}

.bg-primary{
	background-color:#1a0052!important;
	background-image:url(../assets/img/IMG_6345.JPG);
}

.text-primary{
	color:#7563bd!important;
}

a {
	color:#a29bbd;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,td {
	padding:8px;
	text-align: left;
	border-bottom: 1px solid #7563bd;
	font-size: 1.1rem;
}

a:hover{
	color:#7563bd;
}


